<!DOCTYPE html>
<html lang="en">
<title>{% block title %}{% endblock %} - Predicord</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1><a href="{{ url_for('index') }}">Predicord</a></h1>
    <ul>
        {% if session["user_id"] %}
            <li>You are logged in as {{ session["user_id"] }}</li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>{% block header %}{% endblock %}</header>
    {% block content %}{% endblock %}
</section>
</html>
