<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} - Predicord</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
  <h1>
    <a href="{{ url_for('index') }}">Predicord</a>
  </h1>
  <ul>
    {% set user = session['user'] %}
    {% if user %}
      <div id="user-modal-backdrop"></div>
      <li>
        <button class="nav-btn">
          <a href="{{ url_for("market.create") }}">New market</a>
        </button>
      </li>
      <li id="user-avatar">
        <img src="{{ discord_avatar_url(user.id, user.avatar_hash) }}"
             alt="Avatar for {{ user.display_name }}"/>
        <div id="user-modal">
          <img src="{{ discord_avatar_url(user.id, user.avatar_hash) }}"
               alt="Avatar for {{ user.display_name }}"/>
          <p id="display-name">{{ user.display_name }}</p>
          <p id="user-id">ID: {{ user.id }}</p>
          <a id="logout" href="{{ url_for('auth.logout') }}">Log Out</a>
          <p id="version">{{ config.GIT_SHA }}</p>
        </div>
      </li>
    {% else %}
      <li>
        <a href="{{ url_for('auth.login') }}">Log In</a>
      </li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Register modal toggle to avatar
        const avatar = document.getElementById('user-avatar');
        const modal = document.getElementById('user-modal');
        const backdrop = document.getElementById('user-modal-backdrop');

        // Show when avatar clicked, hide when clicked outside
        avatar.addEventListener('click', function () {
            backdrop.style.display = 'block';
            modal.style.right = '0';
        });
        window.addEventListener('click', function (e) {
            console.log(e.target);
            if (!avatar.contains(e.target)) {
                backdrop.style.display = 'none';
                backdrop.style.display = 'none';
                modal.style.right = '-16rem';
            }
        });
    });
</script>
</body>
</html>
