<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>You are logged in as {{ user.global_name }}</p>
    <p>User attributes: {{ user }}</p>

    <form action="/submit/create_market" method="post">
        <br>
        <hr>
        <h2>Create New Market:</h2>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="criteria">Criteria:</label>
        <input id="criteria" name="criteria">
        <button type="submit">Submit</button>
    </form>

    <hr>

    <h2>Markets</h2>
    <table>
    {% for market in markets %}
        <tr>
            <th><a href="/market/{{ market.id }}">{{ market.name }}</a></th>
            <th>{{ market.outcome }}</th>
        </tr>
    {% endfor %}
    </table>

</body>
</html>
